{% extends "basic_app/base.html"%}
{% load static %}

{% block body_block %}
<div class="jumbotron">
    <form class="border border-light p-5" method="POST" action="{% url  'basic_app:user_login' %}">
        {% csrf_token%}
        <p class="h4 mb-4 text-center">Login</p>

        <input type="username" id="defaultLoginFormEmail" name="username" class="form-control mb-4"
            placeholder="Username">

        <input type="password" id="defaultLoginFormPassword" name="password" class="form-control mb-4"
            placeholder="Password">

        <button class="btn btn-info btn-block my-4" type="submit">Login</button>

    </form>
</div>
{% endblock %}