{% extends "basic_app/base.html"%}
{% load static %}

{% block body_block %}
<!-- Material form login -->
<div class="card-container">
    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Login</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

            <!-- Form -->
            <form method="POST" class="text-center" style="color: #757575;" action="{% url  'basic_app:user_login' %}">
                {% csrf_token%}
                <!-- Username -->
                <div class="md-form">
                    <input type="text" id="materialLoginFormEmail" class="form-control" name="username">
                    <label for="materialLoginFormEmail">Username</label>
                </div>

                <!-- Password -->
                <div class="md-form">
                    <input type="password" id="materialLoginFormPassword" class="form-control" name="password">
                    <label for="materialLoginFormPassword">Password</label>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                    type="submit">Sign
                    in</button>
            </form>
            <!-- Form -->

        </div>
    </div>
</div>

<!-- Material form login -->
{% endblock %}