h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

nav a {
    font-family: 'Raleway', sans-serif;
}

.card {
    margin-top: 5%;
    width: 50%;
    left: 25%;
}

.form-container {
    margin-top: 5%;
}

.form-container label {
    float: left;
    font-family: 'Roboto', sans-serif;
}

.form-container input {
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-device-width: 767px) {
    .card-container {
        position: absolute;
    }
    .card {
        position: relative;
        max-width: 767px;
        margin: 50px auto;
        min-width: 500px;
        left: 20%;
    }
}